
// map
$breakpoints: (
    mobile: 767px,
    tablet: 992px,
    desktop: 1200px
);

$colors: (
    main-color: #212121,
    black: #0000,
    white: #fff,
    gray: #959595,
    red: rgb(255, 0, 0),
    yellow: #ff0,
    green: #02ebcd,
    dark-blue: #5a06ff,
);