.input {
    width: 41%;
    border: 2px solid map-get($colors, green);
    border-radius: 8px;
    min-height: 50px;

    &--active {
        outline: 2px solid map-get($colors, red);
        border-radius: 8px;
    }
    &--focus {
        outline: 2px solid map-get($colors, yellow);
        border-radius: 8px;
    }
  }
.input::placeholder {
    color: map-get($colors, gray)
}


.button {
    display: inline-block;
    min-height: 50px;
    min-width: 100px;
    color: map-get($colors, white);
    font-size: 12px;
    background-color: map-get($colors, dark-blue);
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;

}
